root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# 줄 끝 두 칸은 마크다운의 강제 개행이라 지우면 렌더가 바뀐다
[*.md]
trim_trailing_whitespace = false
